<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main class="perfilMain">
        <section class="cargarPelicula">
            <%if (editando) {%>
                <h2 style="color: red;">Estás editando: <%=editando.titulo%> - Verifica la información y haz click en enviar.</h2>
            <%} else {%>
                <h2>Añade una película al catálogo.</h2>
            <%}%>
            <form action="/pelicula/cargar" method="POST">
                <div class="inputLinea-container">
                    <label for="titulo"></label>
                    <input class="inputLinea" required type="text" name="titulo" placeholder="Titulo de la pelicula..." value="<%= editando ? editando.titulo : ''%>">   
                </div>
                <div class="textareaContainer">
                    <label for="descripcion"></label>
                    <textarea name="descripcion" placeholder="Descripción de la película..."><%= editando ? editando.descripcion : ''%></textarea>
                </div>
                <div class="inputLinea-container">
                    <label for="imagen"></label>
                    <input class="inputLinea" required type="text" name="imagen" placeholder="Introduce la URL de la imagen..." value="<%= editando ? editando.imagen : ''%>">
                </div>
                <div class="radioButtonsContainer">
                    <h4>¿En qué genero encaja más esta pelicula? Aproximadamente.</h4>
                    <div>
                        <input type="radio" name="genero" value="Accion" required value="<%=editando && editando.genero === 'Accion' ? 'checked' : null %> ">
                        <label for="genero">Acción</label>
                        <input type="radio" name="genero" value="Drama" required <%=editando && editando.genero === 'Drama' ? 'checked' : null %>>
                        <label for="genero">Drama</label>
                        <input type="radio" name="genero" value="Terror" required <%=editando && editando.genero === 'Terror' ? 'checked' : null %>>
                        <label for="genero">Terror</label>
                        <input type="radio" name="genero" value="Comedia" required <%=editando && editando.genero === 'Comedia' ? 'checked' : null %>>
                        <label for="genero">Comedia</label>
                    </div>
                </div>
                <input type="hidden" name="_id" value="<%= editando ? editando.id : null %>">
                <div class="formBotones">
                    <%if (editando) {%>
                        <a class="editar" href="/editar-pelicula/<%= editando.id %>"><button class="editar">Enviar</button></a> 
                        <%} else {%>
                            <input type="submit">
                        <%}%>
                </div>
            </form>
        </section>
        <section class="cargarPelicula">
            <h2>Editar o borrar una película</h2>
            <div class="listaPeliculas-admin">
                <h5>Total de peliculas: <%=peliculas.length%></h5>
                <hr>
                <%let peliculasAprobadas = peliculas.filter((pelicula) => pelicula.aprobado)%>
                <% peliculasAprobadas.forEach(pelicula => { %>
                    <div>
                        <div>
                            <p><%=pelicula.titulo%></p>
                        </div>
                        <div>
                            <a class="borrar" href="/borrar-pelicula/<%=pelicula.id%>">Borrar</a>
                            <a class="editar" href="/editar-pelicula/<%=pelicula.id%>">Editar</a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
    </main>
<%- include('partials/footer.ejs') %>